@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 225 44.4444% 7.0588%;
    --card: 210 20.0000% 98.0392%;
    --card-foreground: 225 44.4444% 7.0588%;
    --popover: 0 0% 100%;
    --popover-foreground: 225 44.4444% 7.0588%;
    --primary: 186.7925 100% 41.5686%;
    --primary-foreground: 0 0% 100%;
    --secondary: 262.1229 83.2558% 57.8431%;
    --secondary-foreground: 0 0% 100%;
    --muted: 220.0000 14.2857% 95.8824%;
    --muted-foreground: 216.9231 19.1176% 26.6667%;
    --accent: 186.7925 100% 41.5686%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2365% 60.1961%;
    --destructive-foreground: 0 0% 100%;
    --border: 216.9231 19.1176% 26.6667%;
    --input: 220.0000 14.2857% 95.8824%;
    --ring: 186.7925 100% 41.5686%;
    --chart-1: 186.7925 100% 41.5686%;
    --chart-2: 142.0859 70.5628% 45.2941%;
    --chart-3: 37.6923 92.1260% 50.1961%;
    --chart-4: 262.1229 83.2558% 57.8431%;
    --chart-5: 216.9231 19.1176% 26.6667%;
    --sidebar: 210 20.0000% 98.0392%;
    --sidebar-foreground: 225 44.4444% 7.0588%;
    --sidebar-primary: 186.7925 100% 41.5686%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 220.0000 14.2857% 95.8824%;
    --sidebar-accent-foreground: 186.7925 100% 41.5686%;
    --sidebar-border: 220 13.0435% 90.9804%;
    --sidebar-ring: 186.7925 100% 41.5686%;
    --font-sans: 'Poppins', sans-serif;
    --font-serif: serif;
    --font-mono: 'Courier Prime', monospace;
    --radius: 0.5rem;
    --shadow-2xs: 0px 2px 10px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 2px 10px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0px 2px 10px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0px 2px 10px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0px 2px 10px 0px hsl(0 0% 0% / 0.10), 0px 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0px 2px 10px 0px hsl(0 0% 0% / 0.10), 0px 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0px 2px 10px 0px hsl(0 0% 0% / 0.10), 0px 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0px 2px 10px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0.01em;
    --spacing: 0.25rem;
  }

  .dark {
    --background: 225 44.4444% 7.0588%;
    --foreground: 0 0% 100%;
    --card: 220.9091 39.2857% 10.9804%;
    --card-foreground: 0 0% 100%;
    --popover: 220.9091 39.2857% 10.9804%;
    --popover-foreground: 0 0% 100%;
    --primary: 186.7925 100% 41.5686%;
    --primary-foreground: 225 44.4444% 7.0588%;
    --secondary: 262.1229 83.2558% 57.8431%;
    --secondary-foreground: 0 0% 100%;
    --muted: 215.0000 27.9070% 16.8627%;
    --muted-foreground: 217.8947 10.6145% 64.9020%;
    --accent: 186.7925 100% 41.5686%;
    --accent-foreground: 225 44.4444% 7.0588%;
    --destructive: 0 84.2365% 60.1961%;
    --destructive-foreground: 0 0% 100%;
    --border: 216.9231 19.1176% 26.6667%;
    --input: 215.0000 27.9070% 16.8627%;
    --ring: 186.7925 100% 41.5686%;
    --chart-1: 186.7925 100% 41.5686%;
    --chart-2: 142.0859 70.5628% 45.2941%;
    --chart-3: 37.6923 92.1260% 50.1961%;
    --chart-4: 262.1229 83.2558% 57.8431%;
    --chart-5: 170.5714 76.9231% 64.3137%;
    --sidebar: 225 44.4444% 7.0588%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 186.7925 100% 41.5686%;
    --sidebar-primary-foreground: 225 44.4444% 7.0588%;
    --sidebar-accent: 220.9091 39.2857% 10.9804%;
    --sidebar-accent-foreground: 186.7925 100% 41.5686%;
    --sidebar-border: 216.9231 19.1176% 26.6667%;
    --sidebar-ring: 186.7925 100% 41.5686%;
    --font-sans: 'Poppins', sans-serif;
    --font-serif: serif;
    --font-mono: 'Courier Prime', monospace;
    --radius: 0.5rem;
    --shadow-2xs: 0px 4px 15px 2px hsl(0 0% 0% / 0.25);
    --shadow-xs: 0px 4px 15px 2px hsl(0 0% 0% / 0.25);
    --shadow-sm: 0px 4px 15px 2px hsl(0 0% 0% / 0.50), 0px 1px 2px 1px hsl(0 0% 0% / 0.50);
    --shadow: 0px 4px 15px 2px hsl(0 0% 0% / 0.50), 0px 1px 2px 1px hsl(0 0% 0% / 0.50);
    --shadow-md: 0px 4px 15px 2px hsl(0 0% 0% / 0.50), 0px 2px 4px 1px hsl(0 0% 0% / 0.50);
    --shadow-lg: 0px 4px 15px 2px hsl(0 0% 0% / 0.50), 0px 4px 6px 1px hsl(0 0% 0% / 0.50);
    --shadow-xl: 0px 4px 15px 2px hsl(0 0% 0% / 0.50), 0px 8px 10px 1px hsl(0 0% 0% / 0.50);
    --shadow-2xl: 0px 4px 15px 2px hsl(0 0% 0% / 1.25);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}